article nav {
    position: sticky;
    top: 0;
}

article u {
    background: lightskyblue;
    color: lemonchiffon;
}

article nav strong {
    color: lightskyblue;
}

article h3 strong {
    text-decoration: lightskyblue wavy underline;
}

article h4 {
    font-size: 150%;
}

article section p,
article a {
    font-size: 125%;
}

article strong {
    font-size: 111%;
}

article u {
    font-size: 75%;
}

article #list p {
    line-height: 150%;
}

article h3 {
    text-align: center;
}

article u,
article section a {
    text-decoration: none;
}

article nav,
article section {
    margin: 1rem;
}

article h3,
article h4,
article p {
    padding: 0;
    margin: 0;
}

hr,
article u {
    padding: 0.25rem;
}

hr {
    border: none;
}

article #season {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

article section {
    display: flex;
    gap: 1rem;
}

article #past {
    flex-flow: row-reverse wrap;
}

article #next,
article #present,
article #list {
    flex-flow: row-reverse wrap-reverse;
}

article h3,
article #season p {
    width: 100%;
}

article #list p,
article #past p,
article section h4 {
    flex: 1 450px;
}