body,
header,
#map {
    position: fixed;
}

#title,
#title button {
    position: relative;
}

#title,
#title button,
header {
    z-index: 1;
}

header,
#title,
#map {
    pointer-events: none;
    user-select: none;
}

#title,
#close {
    color: lightskyblue;
}

h2 {
    color: lemonchiffon;
    text-shadow:
        0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
}

address {
    background: lemonchiffon;
    color: lightskyblue;
}

h3 b,
dialog form details summary {
    color: lemonchiffon;
    background: lightskyblue;
}

h3 u {
    color: #000;
    text-decoration: lightskyblue wavy underline;
}

dialog {
    background: lemonchiffon;
    border: solid 0.25rem lightskyblue;
    color: #000;
    font-family: 'Libre Baskerville', 'Zen Old Mincho', serif;
    width: calc(100% - 2em);
    max-width: 550px;
}

address {
    display: inline-block;
}

dialog form button,
dialog form details textarea {
    padding: 0.25rem;
    margin: 0;
}

header,
dialog form details summary {
    padding: 0.5rem;
}

address {
    padding: 0;
    margin: 0 0 0.5rem;
}

dialog form details {
    margin: 1rem 0 0;
}

#title strong {
    font-size: 300%;
}

#title,
#close,
dialog form button {
    font-size: 250%;
}

h2,
address strong,
dialog h3 {
    font-size: 200%;
}

h3 b {
    font-size: 150%;
}

#datetime,
h3 u,
dialog strong,
dialog form details summary {
    font-size: 125%;
}

address {
    font-size: 100%;
}

#title button,
dialog div,
small {
    font-size: 75%;
}

dialog form details textarea {
    font-size: 16px;
}

#title button,
h3,
h3 b,
h3 u {
    font-weight: 500;
}

#title strong {
    line-height: 250%;
}

h3 b,
h3 u {
    line-height: 200%;
}

#title button {
    background: #fff;
    border: solid 0.15rem;
    border-radius: 50%;
    padding: 0.25rem 1rem;
}

dialog form button {
    background: #fff;
    border: solid 0.15rem;
    border-radius: 50%;
    color: #000;
    padding: 0 1rem;
}

#close {
    background: transparent;
    border: none;
    display: block;
    float: right;
}

body,
#title,
dialog form {
    display: grid;
    place-items: center;
}

dialog form details,
dialog form details textarea {
    border: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#title[hidden] {
    display: none;
}

body,
header,
#map {
    top: 0;
    left: 0;
    right: 0;
}

body {
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

header {
    width: calc(100% - 4.5rem);
}

#map {
    width: 100%;
    height: 100%;
}