html {
    font-size: 16px;
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main section,
footer {
    padding: 0.5rem;
    margin: 0;
}

main h2,
main h3 {
    padding: 0;
    margin: 0.5rem 0;
}

button,
input[type="button"] {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
}

button:hover,
summary:hover,
#top nav *:hover {
    cursor: pointer;
}

main h1 strong,
main h1 button,
main h1 u,
main h2 b {
    font-family: "Kristina", "KikaiChokoku", 'Arial Narrow', sans-serif;
    font-weight: 900;
}

main h2 u,
main h3 {
    font-family: 'DiaPro', 'KikaiChokoku', sans-serif;
}

footer {
    font-family: 'KikaiChokoku', sans-serif;
}

main h1 strong {
    font-size: 400%;
    pointer-events: none;
    user-select: none;
}

main h1,
main h2 b,
main h3 b {
    font-size: 155%;
}

main h2,
main h3,
main h3 u {
    font-size: 125%;
}

main h1 button,
main h1 u,
main h2 u {
    font-size: 100%;
}

main h1 strong {
    text-align: center;
    line-height: 70%;
    transform: scale(1, 3.21);
    margin: 4rem 0;
}

main h1 button,
main h1 u {
    background: #fff;
    color: #000;
}

main h1 button {
    border: solid 0.1rem;
    border-radius: 50%;
    text-decoration: none;
    padding: 0.5rem 1rem 0.25rem;
}

main h1 u {
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

main h1 strong,
main h2 u,
.mapboxgl-marker.goout {
    color: lightskyblue;
}

main h2 b,
main h3 b,
.mapboxgl-marker.goout:hover {
    color: lemonchiffon;
}

main h3 b,
.mapboxgl-marker.goout:hover {
    background: lightskyblue;
}

body,
main h2 u {
    background: lemonchiffon;
}

main h3 u {
    text-decoration: underline wavy lemonchiffon;
}

.mapboxgl-marker.goout:hover {
    cursor: pointer;
}

.mapboxgl-marker.goout {
    border: solid 0.123rem lightskyblue;
}

main h2 b {
    text-shadow:
        0.1rem 0.1rem 0.1rem lightskyblue,
        0.2rem 0.2rem 0.2rem lightskyblue,
        0.3rem 0.3rem 0.3rem lightskyblue;
}

.mapboxgl-marker {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mapboxgl-marker.goout {
    width: 1.11rem;
    height: 1.11rem;
    border-radius: 50%;
    z-index: 10;
}

.mapboxgl-marker.goout:hover {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 100;
}

main {
    position: relative;
}

main h1,
main section {
    position: absolute;
}

main h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

main section {
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

main h1[hidden] {
    display: none;
}

main h1 {
    display: grid;
    place-items: center;
}

body {
    display: flex;
    flex-flow: column;
    place-content: space-between;
}

#map,
main section {
    width: 100%;
}

body {
    height: 100dvh;
}

main,
#map {
    height: 100%;
}

@media (orientation: portrait) {
    html {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 3.5vw;
    }
}