html {
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body,
h1 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Kristina";
    src: url("../profile/fonts/Kristina-Bold.otf") format("opentype"),
        url("../profile/fonts/Kristina-Fine.otf") format("opentype");
}

header,
footer {
    font-family: "Kristina", 'Zen Maru Gothic', cursive;
}

header h1,
header h1 strong {
    font-size: 250%;
}

header h2 strong,
footer h3 {
    font-size: 150%;
}

select,
footer strong,
footer a {
    font-size: 125%;
}

#year,
header h2,
#contrib::before {
    font-size: 111%;
}

footer u {
    font-size: 90%;
}

footer small {
    font-size: 75%;
}

header h1,
header h1 strong {
    font-weight: 777;
}

footer h3 {
    font-weight: 500;
}

footer h3 {
    text-align: center;
}

footer address {
    font-style: normal;
}

header h2 {
    margin: 5rem 0 2.5rem;
}

h1,
h2 {
    pointer-events: none;
    user-select: none;
}

body {
    background: lemonchiffon;
}

header h1 strong,
header h2 strong::after,
footer a {
    color: lightskyblue;
}

header h2 strong {
    color: lemonchiffon;
}

#year {
    color: #fff;
}

footer select {
    color: #000;
}

footer u,
footer strong {
    background: lightskyblue;
    color: lemonchiffon;
}

header h1 strong {
    display: block;
    padding: 4.5rem 0 1.25rem;
    transform: scale(1, 2.5);
}

header h2 strong::after {
    font-size: 55%;
    padding: 0 1rem;
}

header h2 strong#month::after {
    content: "月";
}

header h2 strong#day::after {
    content: "日";
}

header button {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    max-width: 95%;
}

main,
header {
    display: grid;
    place-items: center;
}

main {
    position: relative;
    width: 100%;
}

main:hover {
    cursor: pointer;
}

header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

main video {
    transition: all 1s;
    width: 100%;
}

.start main:hover video {
    filter: brightness(1.23);
}

#player {
    border: none;
    width: 100%;
    height: 100vh;
    max-height: 56vw;
}

body.stop h1,
body.stop h2,
body.stop #year,
main fieldset input {
    display: none;
}

@media (orientation: landscape) {
    html {
        font-size: 20px;
    }

    header {
        padding: 2.5rem;
    }

    main video {
        max-width: 750px;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 2.5vw;
    }

    header {
        padding: 5vw;
    }

    main video {
        max-height: 75vh;
    }
}

header,
main {
    top: 0;
    left: 0;
    right: 0;
}

#year {
    place-self: start right;
}

#play {
    place-self: end center;
}

main fieldset {
    display: flex;
    justify-content: space-between;
}

header button {
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 2.5rem;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 1rem 0.25rem;
    outline: none;
}

footer address,
footer section,
footer div {
    padding: 1rem;
}

footer a,
footer strong,
footer select,
footer h3 strong {
    padding: 0.25rem;
    margin: 0.25rem;
}

footer h3,
footer section,
footer div,
footer address {
    line-height: 175%;
    margin: 1rem auto;
    max-width: 1000px;
}

#contrib::before {
    content: "Video by";
    clear: both;
    display: block;
    margin: 1.5rem 0.5rem 0;
}

footer a {
    display: block;
    text-decoration: dashed underline;
}

footer div h3 {
    border-top: double 0.25rem lightskyblue;
    border-bottom: double 0.25rem lightskyblue;
}

#contrib a {
    float: left;
}

footer button {
    background: transparent;
    background-image: url(../profile/img/mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: none;
    border-radius: 50%;
    display: block;
    float: right;
    width: 7.5rem;
    height: 7.5rem;
}

.mapboxgl-popup {
    z-index: 100;
}