.mapboxgl-popup.heard {
    font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
    font-size: 0.75rem;
    filter: invert(90%);
}

.heard .mapboxgl-popup-content {
    color: #000;
    text-align: center;
}

.heard .mapboxgl-popup-content a {
    color: #000;
    display: block;
    font-size: 100%;
    line-height: 150%;
    padding: 1rem 0.5rem 0.5rem;
    outline: none;
}

.heard .mapboxgl-popup-content p {
    font-size: 55%;
    line-height: 200%;
    padding: 0.5rem 1rem;
}

.heard .mapboxgl-popup-content a,
.heard .mapboxgl-popup-content p {
    margin: 0;
}

.heard .mapboxgl-popup-close-button {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 200%;
}

@media screen and (max-width: 550px) {
    .mapboxgl-popup.heard {
        font-size: 3vw;
        width: 55%;
        min-width: 55%;
        max-width: 55%;
    }
}