.mapboxgl-marker {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 5;
}

.mapboxgl-marker.submit {
    background: lemonchiffon;
    border: lightskyblue solid 0.15rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.mapboxgl-marker.goout {
    background-image: url('../profile/img/favicon.png');
    border: none;
    width: 3.21rem;
    height: 3.21rem;
}

.mapboxgl-marker.pehu {
    border: none;
    width: 3.21rem;
    height: 3.21rem;
}

.mapboxgl-marker.pehu::before {
    content: "∧°┐";
    display: block;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
}

.mapboxgl-marker.otubuil {
    background-image: url('https://vg.pe.hu/2019-2021/img/favicon.png');
    border: none;
    width: 3.21rem;
    height: 3.21rem;
}

