.mapboxgl-marker {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 5;
}

.mapboxgl-marker.submit {
    background: lemonchiffon;
    border: lightskyblue solid 0.15rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 10;
}

.mapboxgl-marker.hello {
    background-image: url(../../profile/img/hello.jpg);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.mapboxgl-marker.yu {
    background-image: url(../../profile/img/1010.jpg);
    width: 3rem;
    height: 3rem;
}

.mapboxgl-popup {
    z-index: 11;
}

.mapboxgl-popup strong {
    font-size: 125%;
}
