nav {
    position: sticky;
    top: 0;
}

#annual article,
nav {
    display: flex;
    flex-flow: wrap;
    gap: 0.25rem;
}

#annual section {
    flex: 1 450px;
}

#thismonth {
    width: 100%;
}

h1#thismonth {
    padding: 1rem;
    margin: 0;
}

article,
article h2,
article h4,
article nav,
#annual section {
    padding: 0.5rem;
    margin: 0;
}

#annual section h3,
#annual section p {
    padding: 0;
    margin: 0.5rem 0;
}

#annual section u,
nav label {
    padding: 0.25rem;
}

#annual section {
    line-height: 200%;
}

nav label {
    letter-spacing: 0.1rem;
}

#thismonth strong {
    letter-spacing: 0.25rem;
}

article h4 {
    font-size: 175%;
}

aside b {
    font-size: 150%;
}

nav label {
    font-size: 125%;
}

#annual section u {
    color: lightskyblue;
}

nav input:checked+label {
    background: lightskyblue;
    color: lemonchiffon;
}

article h4 small {
    color: lightskyblue;
    text-decoration: underline wavy lightskyblue;
}

#annual section u,
nav label {
    background: lemonchiffon;
    border: 0.1rem solid lightskyblue;
    border-radius: 0.25rem;
}

nav label:hover {
    cursor: pointer;
}

#annual article[hidden],
nav input {
    display: none;
}

#annual section a,
#annual section u {
    text-decoration: none;
}